* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(38, 131, 185);
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: green;
}

.input-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-button {
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(38, 131, 185);
}

.movie-input {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  /* border: 1px solid greenyellow; */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
}

.year {
  font-weight: bold;
  font-size: 20px;
}

.image-container {
  width: 250px;
  height: 350px;
  /*border: 1px solid black;*/
  border: none;
  /*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);*/
}

.card-image {
  width: 220px;
  height: auto;
}

.imdb-rating {
  color: yellow;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .input-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*Added tooltip CSS*/
.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-box {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.tooltip-wrapper:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 960px) and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .input-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
